<div class="container">

    <!-- Add new note -->
    <div class="col-md-6" [attr.hidden]='mainService.noteService.addNewCard === true ? null : true'>
        <div class="card">
            <div class="card-header">
                <button class="close" (click)='mainService.noteService.addNewCard = false'>&times;</button>
                <h5>{{mainService.noteService.noteItem.hasOwnProperty('_id') ? 'Edit ' : 'Add new ' }}note</h5>
            </div>
            <div class="card-body">
                <form class="form-horizontal" [formGroup]="form" (ngSubmit)="addNewNote()" novalidate>
                    <input type="text" placeholder="Title" class="form-control"
                        [(ngModel)]='mainService.noteService.noteItem.title' formControlName="title">
                    <span class='text-danger' *ngIf="isSubmitted && nf.title.errors">Invalid Title</span>
                    <input #takeNewNote type="text" class="form-control" placeholder="Take a note"
                        [(ngModel)]='mainService.noteService.noteItem.note' formControlName="note">
                    <span class='text-danger' *ngIf="isSubmitted && nf.note.errors">Invalid Note</span>
                    <button class="btn btn-primary">{{mainService.noteService.noteItem.hasOwnProperty('_id') ? 'Update ' : 'Add ' }} Note</button>
                </form>
            </div>
        </div>
    </div>

    <!--  -->
    <input type="text" class="form-control col-md-5" placeholder="Take a note"
        [(ngModel)]='mainService.noteService.noteItem.note' *ngIf="mainService.noteService.addNewCard === false"
        (input)='enableAddNewNote()'>

    <!-- If no notes are available yet -->
    <div *ngIf="!mainService.noteService.noteData.length" class="no-notes-container">
        <div class="image"></div>
        <div class="label">Notes you add appear here</div>
    </div>

    <ng-container *ngIf="mainService.noteService.noteData.length">
        <note-card (removeNote)="removeNoteData($event)"></note-card>
    </ng-container>
</div>